#container {
	/*background-color: 93D8D6;*/
}
body {
	/*background-color: 5F1F55*/
}
p {
	text-align: left;
}
#sub-container{
	height: 300px;
	width: 33.3%;
	background-color:gray;
	font-color:FFFFFF;
	font-size: 15px;
	border: 2px;
}

div.chicken>p {
	font-size:30px;
 	background-color:8A5C8E;
    color: 000000;
    text-align:right;

}
div.beef>p {
	font-size:30px;
	background-color:B01C31;
	color: FFFFFF;
	text-align:right;
}
div.sushi>p {
	font-size:30px;
	background-color:E0C957;
	color: 000000;
	text-align:right;

}
