#container {
	
	/*width: 100%;
	height: 100%;
	padding: 10px; */
	margin:0px;
	padding:0px;
	background-color: #93D8D6;

}
*{
 	box-sizing: border-box;
}
body {
	margin:0px;
	padding:0px;
	/*background-color: #5F1F55;*/

}
#sub-container {
	height:180px;
	width:30%;
	background-color:gray;
	color:#000000;
	font-size: 15px;
	border:2px solid black;
	
	
}

.chicken {
	position: absolute;
	left:2.5%;
	top:30px;
}

.beef {
	position: absolute;
	left:35%;
	top:30px;
}

.sushi {
	position: absolute;
	left:67.5%;
	top:30px;
}

#text {
	padding:5px 30px 5px 5px;
	font-family:Georgia, serif;	
	font-style: italic;
	overflow:auto;
}

p {
    margin:-2px -2px 0px 70%;
    border:2px solid black;
	font-size: 25px;
	text-align:right;
	padding-right:3%;
	font-family: 'Rubik';
	font-style:normal;
	font-weight: 600;
	
	
}	

div.chicken p {
 	background-color:#8A5C8E;
    color: #000000;

}

div.beef p {	
	background-color:#B01C31;
	color: #FFFFFF;
	
}

div.sushi p {	
	background-color:#E0C957;
	color: #000000;
	
}
